<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- User Profile-->
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
  <!-- welcome message -->
  <h1 th:text="${'Hello ' + session.LoggedInUser.recipeUsername + '!'}"></h1>

  <!-- back to homepage -->
  <p>
    <a href="/">Homepage</a>
  </p>

  <!-- create recipe -->
  <p>
    <a th:href="@{/create}">Add a new recipe</a>
  </p>

  <!-- log out -->
  <p>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="log out"/>
    </form>
  </p>

</body>
</html>